<%- include('../template/cabecera',{tituloweb: "Inicio"}) %>
<link rel="stylesheet" href="../css/style.css">
<body>
    <h2> <%= titulo %> </h2>
    <%-  include('../template/navbar') %>
    <%-  include('../template/titles') %>

    <section>
      <div class="cwk_cont_banner_sec_1">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
            <h2>驴Qu茅 es la contaminaci贸n del agua?</h2>
            <p>El t茅rmino contaminaci贸n se refiere a la introducci贸n de cualquier agente qu铆mico, f铆sico o biol贸gico cuya presencia o acumulaci贸n tiene efectos nocivos en el entorno natural,la salud y el bienestar de las personas. La contaminaci贸n del agua o contaminaci贸n h铆drica tiene lugar cuando en los cuerpos de agua naturales (lagos, r铆os, mares, etc.) tienen presencia diversos tipos de sustancias qu铆micas ajenas a su composici贸n original, que modifican sus propiedades haci茅ndola insalubre, da帽ina para la vida, y por lo tanto in煤til para la pesca, agricultura, recreaci贸n y consumo humano.</p>
            </div>
            <div class="col-md-8 cwk_cont_img text-center">
                <img src="img/contamina.gif" class="img-fluid" alt="contamina">
            </div>
          </div>
        </div>
    </section>

    <section>
      <div class="cwk_cont_banner_sec_2">
            <h2 class="subtitulos_h2">Consecuencias</h2>
            <h3 class="subtitulos_h3">Desequilibrios biol贸gicos.</h3>
            <p class="textos_p">La presencia de ciertos qu铆micos en el agua pueden causar la proliferaci贸n anormal de ciertos microbios o algas, lo cual desbalancea la cadena tr贸fica y genera competencias anormales que, a la larga, ocasionan la muerte excesiva de ciertas especies que van a descomponerse a帽adiendo materia org谩nica al agua.</p>
            <h3 class="subtitulos_h3">Alteraciones qu铆micas.</h3>
            <p class="textos_p">Los cambios en la qu铆mica del agua puede llegar a extremos letales, en los que la fauna y flora locales se extingan o migren hacia otras zonas, causando da帽os ecol贸gicos severos.</p>
            <h2 class="subtitulos_h3">Impacto clim谩tico</h2>
            <p class="textos_p">Los cambios de temperatura, pH y otras propiedades del agua consecuencia de sustancias a帽adidas o s贸lidos en suspensi贸n inciden en el comportamiento de las masas del l铆quido, disminuyendo su evaporaci贸n y por lo tanto su precipitaci贸n y alterando el clima local.</p>
            <h2 class="subtitulos_h3">Contaminaci贸n de tierra y aire</h2>
            <p class="textos_p">La contaminaci贸n h铆drica no se queda s贸lo en el agua, sino que se esparce hacia la tierra y el aire, conforme al ciclo h铆drico, en un efecto domin贸 de consecuencias impredecibles.</p>
            <h2 class="subtitulos_h2">Tipos de Contaminaci贸n</2>
            <h3 class="subtitulos_h3">Seg煤n la causa de contaminaci贸n</h3>
          </div>
    </section>
    
    <section>
      <div class="cwk_cont_banner_sec_3">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
            <h2 class="subtitulos_h2">Contaminaci贸n por sedimentos.</h2>
            <p class="textos_p">Ocurre cuando se arrastran al agua sedimentos de arena, limo, arcilla u otros, los cuales se depositan en el agua y deterioran su calidad para el consumo animal y el crecimiento de la flora. Asimismo, puede afectar el desarrollo de los peces o causar su muerte.</p>
            </div>
            <div class="col-md-8 cwk_cont_img text-center">
                <img src="img/cedimentos.jpg" height="300px" width="350px" class="img-fluid" alt="cedimentos">
            </div>
          </div>
        </div>
    </section>

    <section>
      <div class="cwk_cont_banner_sec_3">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
            <h2 class="subtitulos_h2">Contaminaci贸n qu铆mica.</h2>
            <p class="textos_p">Se produce por el derrame de compuestos org谩nicos e inorg谩nicos que se disuelven o dispersan en el agua. Por ejemplo, hidrocarburos, pesticidas, desechos industriales, etc.</p>
            </div>
            <div class="col-md-8 cwk_cont_img text-center">
                <img src="img/quimica.jpg" height="300px" width="350px" class="img-fluid" alt="quimica">
            </div>
          </div>
        </div>
    </section>

    <section>
      <div class="cwk_cont_banner_sec_3">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
            <h2 class="subtitulos_h2">Contaminaci贸n t茅rmica.</h2>
            <p class="textos_p">Se refiere al aumento artificial de la temperatura del agua por la actividad industrial, lo cual altera el h谩bitat de las especies acu谩ticas.</p>
            </div>
            <div class="col-md-8 cwk_cont_img text-center">
                <img src="img/termica.jpg" height="300px" width="350px" class="img-fluid" alt="termica">
            </div>
          </div>
        </div>
    </section>

    <section>
      <div class="cwk_cont_banner_sec_3">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
            <h2 class="subtitulos_h2">Contaminaci贸n microbiol贸gica</h2>
            <p class="textos_p">Es la que se produce por la presencia de organismos microsc贸picos pat贸genos, tales como virus y par谩sitos que alteran la potabilidad del agua.</p>
            </div>
            <div class="col-md-8 cwk_cont_img text-center">
                <img src="img/microbio.jpg" height="300px" width="350px" class="img-fluid" alt="microbio">
            </div>
          </div>
        </div>
    </section>

    <section>
      <div class="cwk_cont_banner_sec_3">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
            <h2 class="subtitulos_h2">Contaminaci贸n por desechos s贸lidos.</h2>
            <p class="textos_p">Es aquella que se produce por la acumulaci贸n de desechos s贸lidos a una escala tal que estos no pueden ser degradados por las bacterias que cumplen esta funci贸n en el agua</p>
            </div>
            <div class="col-md-8 cwk_cont_img text-center">
                <img src="img/solidos.jpg" height="300px" width="350px" class="img-fluid" alt="solidos">
            </div>
          </div>
        </div>
    </section>

    <section>
      <div class="cwk_cont_banner_sec_3">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
            <h2 class="subtitulos_h2">Contaminaci贸n por absorbentes de ox铆geno</h2>
            <p class="textos_p">Cuando los microorganismos en el agua, como las bacterias, sobrepasan los l铆mites necesarios para la descomposici贸n de los desechos, acaparan el ox铆geno disponible, lo que produce la muerte de todas las formas de vida alrededor.</p>
            </div>
            <div class="col-md-8 cwk_cont_img text-center">
                <img src="img/oxigeno.jpg" height="300px" width="350px" class="img-fluid" alt="oxigeno">
            </div>
          </div>
        </div>
    </section>

    <section>
      <div class="cwk_cont_banner_sec_3">
        <div class="container">
          <div class="row">
            <div class="col-md-10">
            <h2 class="subtitulos_h2">Eutrofizaci贸n o contaminaci贸n por nutrientes</h2>
            <p class="textos_p">Se produce por exceso de nutrientes en el agua, especialmente nitr贸geno y f贸sforo. Los nutrientes son arrastrados a las aguas y estimulan el crecimiento de algas y otras especies de manera descontrolada, alterando el h谩bitat y la potabilidad del agua. Por ejemplo, fertilizantes, excremento animal (ganader铆a), actividad industrial, lluvia 谩cida, etc.</p>
            </div>
            <div class="col-md-8 cwk_cont_img text-center">
                <img src="img/eufotrizacion.jpg" class="img-fluid" alt="eufotrizacion">
            </div>
          </div>
        </div>
    </section>

    <section>
      <div class="cwk_cont_banner_sec_3">
        <div class="container">
          <div class="row">
            <div class="col-md-10">
            <h3 class="subtitulos_h3">Seg煤n la localizaci贸n de las fuentes de agua</h3>
            <h2 class="subtitulos_h2">Contaminaci贸n de aguas superficiales</h2>
            <p class="textos_p">Consiste en la contaminaci贸n de las aguas que est谩n en la superficie de la tierra. Por ejemplo: r铆os, lagos, lagunas, mares, embalses y oc茅anos</p>
            </div>
            <div class="col-md-8 cwk_cont_img text-center">
                <img src="img/rios.jpg"  class="img-fluid" alt="rios">
            </div>
          </div>
        </div>
    </section>

    <section>
      <div class="cwk_cont_banner_sec_3">
        <div class="container">
          <div class="row">
            <div class="col-md-10">
            <h2 class="subtitulos_h2">Contaminaci贸n de aguas subterr谩neas.</h2>
            <p class="textos_p">Es la que se produce en las fuentes subterr谩neas de agua como consecuencia de la absorci贸n de sustancias de diversos tipos, como pesticidas, 谩cidos, aceites, etc.</p>
            </div>
            <div class="col-md-8 cwk_cont_img text-center">
                <img src="img/subterra.jpg" class="img-fluid" alt="subterra">
            </div>
          </div>
        </div>
    </section>

    <section>
      <div class="cwk_cont_banner_sec_4">
        <div class="container">
          <div class="row">
            <div class="col-md-10">
            <h2 class="subtitulos_h2">驴Qu茅 soluciones podemos implemetar para solucionar este problema</h2>
            <li class="listas">Reducir al m谩ximo el uso de plaguicidas y otros contaminantes qu铆micos.</li>
            <li class="listas">Reducir las emisiones de CO2.</li>
            <li class="listas">Frenar el uso abusivo de pl谩sticos y educar para su correcta gesti贸n.</li>
            <li class="listas">Tratar las aguas residuales lo m谩ximo posible.</li>
            <li class="listas">Frenar la desforestaci贸n sin control.</li>
            <li class="listas">Conseguir que la industria, la ganader铆a y la agricultura no gasten cantidades tan desorbitadas de este recurso natural.</li>
            <li class="listas">Usar transportes sostenibles o totalmente eco-firendly.</li>
            <li class="listas">Participar activamente con organizaciones y asociaciones dedicadas a esto.</li>
            <li class="listas">Ayudar a mejorar las leyes al respecto.</li>
            <li class="listas">Ayudar en la educaci贸n y concienciaci贸n de la poblaci贸n acerca de este problema medioambiental global</li>
          </div>
        </div>
      </div>  
    </section>>

    <section>
      <div class="cwk_cont_banner_sec_5">
        <div class="container">
          <div class="row">
            <div class="col-md-10">
             <p class="videos"><iframe width="300" height="200" src="https://www.youtube.com/embed/R4YQHnVSapE" title="+5 SOLUCIONES para la CONTAMINACIN DEL AGUA " frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
            </div>
          </div>
        </div>
      </div>    
    </section>
    <%-  include('../template/comentario') %>
    <%-  include('../template/footer') %>
</body>
</html>